div.developer fieldset {
	border: 0;
	margin: 0;
	padding: 8px;
	border-bottom: 1px #D7D7D7 solid;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

div.developer fieldset legend {
	display: none;
}

div.developer fieldset.querySet, #localizer fieldSet {
	border: 0;
	margin: 0;
	padding: 8px;
	border-bottom: 1px #D7D7D7 solid;
}

#localeSetter fieldset {
	margin: 0;
	padding: 0;
}

#localeSetter fieldset legend {
	display: block;
	padding: 8px;
}

#localeSetter .formItem {
	margin-top: 12px;
	padding-left: 8px;
}

#localeSetter .buttonLayer {
	padding-left: 8px;
	padding-bottom: 8px;
	padding-top: 0;
}

div.developer fieldset.componentManager {
	border-bottom: 0;
}

div.developer fieldset.querySet legend {
	display: none;
}

div.developer fieldSet.resultSet, div.developer fieldset.keySet, div.developer fieldset.availableClasses, #localizer fieldset.stringsSet, #bundleCreator fieldset.createdBundles {
	border: 0;
	padding: 0;
	margin: 0;
	border-top: 1px #fff solid;
}

#bundleCreator .button {
	float: left;
}

#localizer fieldset.stringsSet {
	border-bottom: 0;	
}

#localizer textarea {
	width: 500px;
	height: 200px;
}

#localizer td.lastColumn {
	padding: 0;
}

#localizer td.lastColumn span.stringValue {
	padding: 2px 5px;
	display: block;
}

#localizer textarea.newStringValue {
	border: 0;
	width: 99%;
	height: 100px;
	font-size: 11px;
	margin: 0;
	padding: 2px;
}

#localizer fieldset.stringsSet td.isEmpty {
	color: #f33;
	font-style: italic;	
}

#localizer td {
	width: 50%;
	vertical-align: top;
}

div.developer fieldset.versions {
	padding: 0;
}

div.developer fieldset.resultSet legend {
	display: none;
}

div.developer fieldset.resultSet p, div.developer fieldset.keySet p {
	margin: 8px;
	padding-top: 8px;
}

div.developer fieldset.keySet {
	margin-bottom: 8px;
}

div.developer fieldset.resultSet p span.query {
	font-weight: bold;
}

div.developer div.formItem {
	overflow: hidden;
	margin-bottom: 12px;
}

div.developer div.formItem label {
	float: left;
	width: 150px;
	font-weight: bold;
}

div.developer div.formItem textarea, div.formItem input, div.formItem select {
	float: left;
	padding: 0;
	margin: 0;
}

div.developer div.bigFormItem textarea {
	clear: both;
	width: 98%;
	height: 120px;
}

div.developer div.checkBoxItem {
	overflow: hidden;
	margin-bottom: 6px;
}

div.developer div.checkBoxItem label {
	float: left;
	width: auto;
}

div.developer div.checkBoxItem input {
	float: left;
	margin-right: 8px;
	width: 12px;
	height: 12px;
	border: 0;
}

div.developer div.buttonLayer {
	padding-top: 10px;
	clear: both;
	overflow: hidden;
}

div.developer div.buttonLayer input.button {
	float: right;
	margin: 0;
	margin-left: 8px;
	display: block;
	border: 1px #999 solid;
	padding: 2px 3px;
	text-transform: capitalize;
	font-size: 13px;
}

div.developer div.buttonLayer input#select, div.developer div.buttonLayer input#execute, div.developer div.buttonLayer input#save, div.developer div.buttonLayer input#delete, div.developer div.buttonLayer input#localizerSave, div.developer div.buttonLayer input#chooseLocalizer, div.developer div.buttonLayer input#localizerDelete {
	float: left;
	margin: 0;
	margin-right: 4px;
}

div.developer div.buttonLayer input#delete {
	margin-left: 8px;
}

div.developer div.statusLayer {
	margin: 8px;
	padding: 8px;
	border: 1px #ccc solid;
	background-color: #ffc;
	font-weight: bold;
}

.wf_blockmainarea {
	padding: 0 !important;
}

table.developerTable {
	width: 100%;
}

table.developerTable thead tr th {
	text-align: left;
	padding: 2px 5px;
	border-top: 1px #999 solid;
	border-bottom: 1px #999 solid;
	background-color: #fff;
	border-left: 1px #999 solid;
}

table.developerTable tbody tr td {
	text-align: left;
	padding: 2px 5px;
	border-bottom: 1px #ccc solid;
	background-color: #fff;
	border-left: 1px #999 solid;
}

table.developerTable tbody tr td.firstColumn, table.developerTable thead tr th.firstColumn {
	border-left: 0;
}

table.developerTable tbody tr.evenRow td {
	background-color: #dfdfdf;
}

table.developerTable tbody tr.ruled td {
	background-color: #a0a0a0;
}

table.developerTable tfoot tr td {
	text-align: left;
	padding: 2px 5px;
	background-color: #fff;
	font-weight: bold;
	border-bottom: 1px #D7D7D7 solid;
}

table.developerTable tbody tr td a {
	color: #000;
	text-decoration: underline;
}

table.developerTable tr td.number {
	text-align: right;
}

#localeSetter table td {
	width: 50%;
}

#localeSetter table.developerTable .inputColumn {
	width: 12px;
	white-space: none;
	text-align: center;
}

.developer div.ws_layout_twocolumn div.ws_main {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 203px;
	right: 0;
	width: auto;
	height: auto;
}

/*** Begin WS Function (Left) Menu ***/
.developer div.ws_functionmenu .wf_block {
	margin-left: 4px;
	margin-bottom: 0;
	margin: 0;
	border: 0;
}

.developer div.ws_functionmenu div.wf_titlebar {
	display: none !important;
}

.developer div.ws_functionmenu div.wf_titlebar_icon {
	display: none;
}

.developer div.ws_functionmenu div.wf_titlebar {
	border-top: 1px #fff solid;
	height: 35px;
	background: url(images/wf_background.gif) repeat-x;
	padding: 6px 0 0 0px;
	color: #515151;
	font-weight: bold;
	font-size: 1.2em;
	font-variant: small-caps;
}

.developer div.ws_functionmenu div.wf_titlebar a {
	text-decoration: none;
	color: #00AEFF;
	font-size: 0.7em;
	font-weight: bold;
	font-variant: normal;
}

.developer div.ws_functionmenu div.wf_titlebar a:hover {
	text-decoration: underline;
}

.developer div.ws_functionmenu ul.wf_viewmenu,div.ws_functionmenu ul.wf_viewmenu li {
	margin: 0;
	padding: 0;
}

.developer div.ws_functionmenu ul.wf_viewmenu {
	list-style: none;
	border: none;
	background: #fff;
	height: auto;
}

.developer div.ws_functionmenu ul.wf_viewmenu li {
	border-bottom: 1px solid #cdcdcd;
	float: none;
	line-height: 24px;
	height: auto;
}

.developer div.ws_functionmenu ul.wf_viewmenu li.selected li.selected {
	padding-left: 12px !important;
	background: url(/idegaweb/bundles/com.idega.workspace.bundle/resources/style/images/viewmenu_bullet.png) no-repeat 7px 5px !important;
}

.developer div.ws_functionmenu ul.wf_viewmenu li ul.wf_viewmenu,div.ws_functionmenu ul.wf_viewmenu li ul.wf_viewmenu li {
	background: none;
}

.developer div.ws_functionmenu ul.wf_viewmenu li ul.wf_viewmenu li {
	min-height: 0px;
}

.developer div.ws_functionmenu ul.wf_viewmenu li a {
	color: #303030;
	font-weight: bold;
	line-height: 24px;
	padding-left: 24px;
	margin: 0;
	display: block;
	border: 0;
	background: url(/idegaweb/bundles/com.idega.workspace.bundle/resources/style/images/viewmenu_mainbullet2.png) 11px 7px no-repeat !important;
	font-size: 11px;
	float: none;
}

.developer div.ws_functionmenu ul.wf_viewmenu li a span {
	float: none;
	background: none !important;
	line-height: 24px;
	text-shadow: none;
}

.developer div.ws_functionmenu ul.wf_viewmenu li a:hover {
	background-color: #f4f4f4;
}

.developer div.ws_functionmenu ul.wf_viewmenu li a:hover span {
	background: none;
	text-shadow: none;
}

.developer div.ws_functionmenu ul.wf_viewmenu li:hover { /*background: #FAFAFA;*/
	
}

.developer div.ws_functionmenu ul.wf_viewmenu li.selected {
	background: #025FD0 url(images/functionmenu/bg_item_selected.gif) repeat-x;
}

.developer div.ws_functionmenu ul.wf_viewmenu li.selected a {
	color: #fff;
}

.developer div.ws_functionmenu ul.wf_viewmenu li.selected a:hover {
	color: #303030;
}

.developer div.ws_functionmenu ul.wf_viewmenu li ul {
	clear: both;
}

.developer div.ws_functionmenu ul.wf_viewmenu li ul li {
	border: none;
	/** TL: This float is causing problems in IE so it is commented out for now: */ /*float: left;*/
	clear: none;
	height: auto;
}

.developer div.ws_functionmenu ul.wf_viewmenu li ul li a {
	display: block;
	font-weight: normal;
	padding: 0 0 0 24px;
	background: none;
	font-size: 10px;
	color: #777777;
	line-height: 16px;
}

.developer div.ws_functionmenu ul.wf_viewmenu li ul li:hover {
	background: none;
}

.developer div.ws_functionmenu ul.wf_viewmenu li ul li a:hover {
}

/***By default not display more than two levels of the menu:***/
.developer div.ws_functionmenu .wf_viewmenu * .wf_viewmenu * .wf_viewmenu {
	display: none;
}

.developer div.ws_functionmenu .wf_viewmenu .deselected a:hover {
	color: black;
}

.wf_block.maximizedvertically {
	left: 0 !important;
}

.maximizedvertically .wf_blockmainarea{
	top: 23px !important;
}